<form method="post" action="Appointments-Schedule">
    <div class="col">
        <div class="form-row">
            <div class="col"><label class="col-form-label" style="color: var(--blue);font-size: 18px;font-family: Roboto, sans-serif;letter-spacing: 1px;" id="Da"></label></div>
        </div>
        <%listD.forEach(function(i){%>
        <div class="form-row" style="margin-bottom: 22px;margin-top: 0px;">
            <div class="col-auto align-self-start" style="text-align: center;"><img class="rounded-circle" height="100" width="100" ></div>
            <div class="col">

                <div class="form-row">
                    <div class="col"><label class="col-form-label" style="color: var(--blue);font-family: Roboto, sans-serif;">DR. <%=i[1].DName%></label></div>
                </div>
                <div class="form-row">
                    <input name="HID" id="HID<%=i[1].DID%>" value="<%=i[1].HID%>" hidden >
                    <input name="DID" id="DID<%=i[1].DID%>" value="<%=i[1].DID%>" hidden >
                    <%i[0].forEach(function(s){%>
                    <%if (s[1]==0){%>

                    <div class="col-auto" style="margin: 5px 0px;"><button class="btn btn-outline-primary" type="button" id="<%=i[1].DID%>" onclick="func(this.value,this.id)" style="height: 27px;font-size: 15px;line-height: 0;width: 74.4219px;" value="<%=s[0]%>"><%=s[0].slice(0,-3)%></button></div>

                    <%}})%>
                </div>
            </div>
        </div>
        <%})%>
        <input name="timen" id="timen" type="text" value="" hidden required>
        <input name="HIDn" id="HIDn" type="text" hidden value="" required>
        <input name="DIDn" id="DIDn" type="text" hidden value="" required>
        <input name="DoBn" hidden id="DoBn" type="text" value="" required>
        <div class="card-body">
            <button class="btn btn-primary btn-sm d-none d-sm-inline-block" type="Submit">Book Appointment</button>

        </div>
    </div>
</form>
<script>


    function func(a,b) {
        document.getElementById("timen").value=a;
        document.getElementById("HIDn").value=document.getElementById("HID"+b).value;
        document.getElementById("DIDn").value=document.getElementById("DID"+b).value;
        document.getElementById("DoBn").value=document.getElementById("date").value;
        console.log(document.getElementById("DoB"))
        console.log(document.getElementById("HID"))
        console.log(document.getElementById("DID"))
    }
</script>