<%- include('partials/header'); -%>

                <div class="container-fluid">
                    <h3 class="text-dark mb-4">Doctors</h3>
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">Doctors List</p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 text-nowrap">
                                    <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><label>Show&nbsp;<select class="form-control form-control-sm custom-select custom-select-sm">
                                                <option value="10" selected="">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>&nbsp;</label></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-md-right dataTables_filter" id="dataTable_filter"><label><input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search" onkeyup="myFunction()" id="search"></label></div>
                                </div>
                            </div>
                            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                                <table class="table dataTable my-0" id="dataTable">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Specialty</th>
                                            <th>Experience</th>
                                            <th>Date of employment</th>
                                            <th>Active</th>
                                        </tr>
                                    </thead>
                                    <%i.forEach(function(i){%>
                                    <%dd=new Date(i.DateOfCreation)%>
                                    <tbody>
                                        <tr>
                                            <td><img class="rounded-circle mr-2" width="30" height="30" src="/Images/Doctor2.PNG"><a href=<%="usersPage/"+i.UID%>><%=i.Fname +" "+i.Lname%></a></td>
                                            <td><%=i.Specialty%></td>
                                            <td><%=i.Experience%></td>
                                            <td><%=dd.getFullYear()+"/"+dd.getMonth()+"/"+dd.getDate()%></td>
                                            <td>
                                                <%if(i.SID==4){%>   <a href="/<%=i.ID%>/remove" class="delete" title="Delete" data-toggle="tooltip"><i class="fa fa-close" style="font-size:48px;color:red"></i></a>
                                                <% } else{%>   <a href="/<%=i.ID%>/add" class="delete" title="Delete" data-toggle="tooltip"><i class="fa fa-check" aria-hidden="true"></i></a> <%}%> </td>
                                        </tr>
                                    </tbody>
                                    <%})%>

                                </table>
                                <a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="AddDoctor"><i class="fas fa-download fa-sm text-white-50"></i>&nbsp;Add Doctor</a>
                            </div>
                            <div class="row">
                                <div class="col-md-6 align-self-center">
                                    <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 1 of 1</p>
                                </div>
                                <div class="col-md-6">
                                    <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                        <ul class="pagination">
                                            <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<script>
    function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("search");
        filter = input.value.toUpperCase();
        table = document.getElementById("dataTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            console.log(td)
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
<%- include('partials/footer'); -%>