<%- include('partials/header'); -%>

<div class="container-fluid">
    <h3 class="text-dark mb-4">Doctors Availability</h3>
    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-primary m-0 font-weight-bold">Doctors Availability</p>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 text-nowrap">

                </div>
                <div class="col-md-6">
                    <div class="text-md-right dataTables_filter" id="dataTable_filter"><label><input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search" id="search" onkeyup="myFunction()"></label></div>
                </div>
            </div>
            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table dataTable my-0" id="dataTable">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <%i.forEach(function(i){%>
                    <%dd=new Date(i.Date)%>
                    <tbody>
                    <tr>
                        <td><a href=<%="usersPage/"+i.UID%>><%=i.Fname +" "+i.Lname%></a></td>
                        <td><%=dd.getDate()+"/"+(dd.getMonth()+1)+"/"+dd.getFullYear()%></td>
                        <td><%=i.STime%></td>
                        <td><%=i.ETime%></td>
                        <td> <a href="deleteA/<%=i.DAID%>"><button class="btn btn-danger btn-block text-white btn-user" type="submit"  style="width: 60%">Delete</button></a></td>
                    </tr>
                    </tbody>
                    <%})%>

                </table>
                <a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="AddShift"><i class="fas fa-download fa-sm text-white-50"></i>Add Shift</a>
            </div>

        </div>
    </div>
</div>
<script>
    function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("search");
        filter = input.value.toUpperCase();
        table = document.getElementById("dataTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            console.log(td)
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>

<%- include('partials/footer'); -%>