<%- include('partials/header'); -%>



<div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <div class="container-fluid">
                <h3 class="text-dark mb-4">Book an Appointment</h3>
                <div class="row mb-3">
                    <div class="form-row">
                        <div class="col">
                            <label>Specialty&nbsp; </label><br>
                            <select style="width: 200px;" class="form-control form-control-sm custom-select custom-select-sm" name="SPID">
                                <option value="" selected="selected"> Select Specialty</option>
                                <%SP.forEach(function (i){%>
                                <option value="<%=i.SPID%>>" ><%=i.Specialty%></option>
                                <%})%>
                            </select>
                        </div>
                         <div class="col">
                            <label>Date of Appointment</label>
                             <input class="form-control" id="datefield" type='date' min='1899-01-01' max='2000-13-13'>
                            </div>
                        <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><label>City&nbsp; </label><br> <select style="width: 200px;" class="form-control form-control-sm custom-select custom-select-sm" name="CID">
                                <option value="" selected="selected"> Select city</option>
                                <%Cities.forEach(function (i){%>
                                <option value="<%=i.CID%>>" ><%=i.Cname%></option>
                                <%})%>

                            </select>&nbsp;
                        </div>

                         </div>
                       </div>
                   </div>
                            </div>
                            <div class="card-header py-3">
                                <p class="text-primary m-0 font-weight-bold">Appointments</p>
                            </div>
                            <div class="card-body">
                                <form method="post" action="ScheduleAppointment">
                                    <div class="col">
                                        <div class="form-row">
                                            <div class="col"><label class="col-form-label" style="color: var(--blue);font-size: 18px;font-family: Roboto, sans-serif;letter-spacing: 1px;">Tuesday 13 April 2021</label></div>
                                        </div>
                                        <%listD.forEach(function(i){%>
                                        <div class="form-row" style="margin-bottom: 22px;margin-top: 0px;">
                                            <div class="col-auto align-self-start" style="text-align: center;"><img class="rounded-circle" height="100" width="100" src="/Images/Doctor2.PNG"></div>
                                            <div class="col">

                                                <div class="form-row">
                                                    <div class="col"><label class="col-form-label" style="color: var(--blue);font-family: Roboto, sans-serif;">DR. <%=i[1].DName%></label></div>
                                                </div>
                                                <div class="form-row">
                                                    <%i[0].forEach(function(s){%>
                                                    <%if (s[1]==0){%>
                                                    <div class="col-auto" style="margin: 5px 0px;"><button class="btn btn-outline-primary" type="button" style="height: 27px;font-size: 15px;line-height: 0;width: 74.4219px;" value="<%=s[0]%>"><%=s[0].slice(0,-3)%></button></div>

                                                        <%}})%>
                                                </div>
                                            </div>
                                        </div>
                                        <%})%>

                            <div class="card-body">
                                <a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="#"><i class="fas fa-download fa-sm text-white-50"></i>&nbsp;Book Appointment</a>
                            </div>
                                    </div>
                                </form>
                        </div>

                </div>
            </div>
        </div>

<script>
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth()+1; //January is 0!
    var yyyy = today.getFullYear();
    if(dd<10){
        dd='0'+dd
    }
    if(mm<10){
        mm='0'+mm
    }

    today = yyyy+'-'+mm+'-'+dd;
    document.getElementById("datefield").setAttribute("min", today);
</script>

<%- include('partials/footer'); -%>