<%- include('partials/header'); -%>



<div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <div class="container-fluid">
                <h3 class="text-dark mb-4">Book an Appointment</h3>
                <div class="row mb-3">
                    <div class="form-row">
                        <div class="col">
                            <label>Specialty&nbsp; </label><br>
                            <select style="width: 200px;" class="form-control form-control-sm custom-select custom-select-sm" id="SP" onchange="fun()" name="SPID">
                                <option value="" selected="selected"> Select Specialty</option>
                                <%SP.forEach(function (i){%>
                                <option value="<%=i.SPID%>" ><%=i.Specialty%></option>
                                <%})%>
                            </select>
                        </div>
                         <div class="col">
                            <label>Date of Appointment</label><input class="form-control" id="date" type="date" name="DoB" value="" onchange="fun()">
                            </div>
                        <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><label>City&nbsp; </label><br> <select style="width: 200px;" class="form-control form-control-sm custom-select custom-select-sm" name="HID" id="HID" onchange="fun()">
                                <option value="" selected="selected"> Select city</option>
                                <%Hos.forEach(function (i){%>
                                <option value="<%=i.HID%>" ><%=i.HName%></option>
                                <%})%>

                            </select>&nbsp;
                        </div>

                         </div>
                       </div>
                   </div>
                            </div>
                            <div class="card-header py-3">
                                <p class="text-primary m-0 font-weight-bold">Appointments</p>
                            </div>
                            <div class="card-body" id="addCon">

                        </div>

                </div>
            </div>
        </div>


<script>

    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth()+1; //January is 0!
    var yyyy = today.getFullYear();
    if(dd<10){
        dd='0'+dd
    }
    if(mm<10){
        mm='0'+mm
    }
    today = yyyy+'-'+mm+'-'+dd;
    document.getElementById("datefield").setAttribute("min", today);



    function fun() {
        if (document.getElementById("SP").value!="" & document.getElementById("HID").value!="" &document.getElementById("date").value!=""){
            var path = '/getAppointment?SP='+document.getElementById("SP").value+"&HID="+document.getElementById("HID").value+"&Adate="+document.getElementById("date").value
            // Grab the template
            $.get(path, function (data) {
                console.log(data)
                $.post('/data',{list:JSON.stringify(data)}, function (html) {
                    // Generate the html from the given data.

                    $('#addCon').html(html);
                });
            });
        }}
</script>
<%- include('partials/footer'); -%>